.leftGroup {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  .editionSection {
    display: flex;
    flex-direction: row;
  }
}
.buttonGroup {
  display: flex;
  justify-content: right;
  button {
    height: 55px !important;
  }
}
.buttonDisabled {
  pointer-events: none;
  opacity: 0.4;
}
