html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;

  body {
    overflow-x: hidden;
    height: 100%;
    font-family: 'Poppins', sans-serif;
  }
  button {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
  }
  img {
    cursor: unset;
  }
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

.mainContainer {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  margin-top: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid black;
    max-width: 900px;
    min-width: 900px;
    height: fit-content;
    margin: 10px;
    .buttonGroup {
      display: grid;
      grid-template-columns: repeat(4, 25%);
    }
    button {
      background-color: #ffffff;
      border: 1px solid rgb(194, 184, 184);
      color: rgb(0, 0, 0);
      padding: 15px 32px;
      margin: 5px;
      width: 180px;
      height: 70px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
    img {
      padding: 20px 0;
    }
    p {
      max-width: 80ch;
    }
    button:hover {
      background-color: #e6ecf2;
    }
  }
}
