.wrapper {
  display: flex;
  justify-content: center;
  text-align: center;

  align-items: center;
  flex-direction: column;

  padding: 20px;
  border-radius: 6px;
  border: 1px solid black;
  min-width: 200px;
  max-width: 900px;

  height: fit-content;
  margin: 10px;
  .buttonGroup {
    display: grid;
    grid-template-columns: repeat(4, 25%);
  }
  button {
    background-color: #ffffff; /* Green */
    border: 1px solid rgb(194, 184, 184);
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    margin: 5px;
    height: 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  img {
    padding: 20px 0;
  }
  p {
    max-width: 80ch;
  }
  button:hover {
    background-color: #e6ecf2;
  }
}

.buttonActive {
  background-color: #525a66 !important;
  color: #e6ecf2 !important;
}

.allignCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonSelected {
  background: aquamarine;
}
